<nav class="nav-bar">

    <div class="nav-logo">
        <div class="nav-icon"></div>
        <div class="nav-name">Dora Komporday</div>
    </div>

    <div id="nav-links" class="nav-links"></div>

    <button id="hamburger-btn" class="hamburger-btn">
        <svg class="icon-hamburger"
             xmlns="http://www.w3.org/2000/svg"
             width="24"
             height="24"
             viewBox="0 0 24 24"
             stroke="currentColor"
             stroke-width="2"
             stroke-linecap="round"
             stroke-linejoin="round"
        >
            <path d="M4 5h16"/>
            <path d="M4 12h16"/>
            <path d="M4 19h16"/>
        </svg>

        <svg class="icon-x"
             xmlns="http://www.w3.org/2000/svg"
             width="24"
             height="24"
             viewBox="0 0 24 24"
             stroke="currentColor"
             stroke-width="2"
             stroke-linecap="round"
             stroke-linejoin="round"
        >
            <path d="M18 6 6 18"/>
            <path d="m6 6 12 12"/>
        </svg>

    </button>

    <div id="hamburger-menu" class="hamburger-menu">

        <!--        <a class="hamburger-link" href="/dorakomporday/index.html">About Me</a>-->
        <!--        <a class="hamburger-link" href="/dorakomporday/src/portfolio.html">Portfolio</a>-->
        <!--        <a class="hamburger-link" href="/dorakomporday/index.html">Contact</a>-->
    </div>

</nav>