body {
    background-color : var(--color-grey-1);
}

main {
    /*height : 100dvh;*/
}

.main-content-bg {
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    align-items     : center;

    min-height      : calc(100dvh - var(--nav-bar-height));

    margin          : auto;

    .main-content {
        --image-size          : 480px;
        --content-gap         : 4rem;

        max-width             : var(--var-content-width);
        display               : grid;
        grid-template-columns : 1fr 1fr;
        gap                   : var(--content-gap);
        justify-content       : center;

        .picture {
            border-radius : 100%;
            flex-shrink   : 0;
            height        : var(--image-size);
            width         : var(--image-size);
            overflow      : hidden;

            img {
                height     : var(--image-size);
                object-fit : cover;
                filter     : grayscale(100) brightness(130%);
            }
        }

        .welcome {

            min-width       : 0;
            margin-block    : 2rem;
            display         : flex;
            flex-direction  : column;
            /*gap             : var(--content-gap);*/
            justify-content : center;

            /*.welcome-text {*/

            /*    display        : flex;*/
            /*    flex-direction : column;*/
            /*    max-width      : var(--var-content-width);*/

            .welcome-title {
                /*color       : var(--color-yellow);*/
                transform   : translate(-5px);
                font        : var(--font-h1);
                font-size   : 8.4rem;
                line-height : 1;
            }

            .welcome-subtitle {
                font       : var(--font-h3);
                margin-top : 3rem;
            }

            .welcome-body {
                margin-top : 1rem;
                max-width  : 48ch;
                min-width  : 0;
            }

            /*}*/

            .welcome-links {
                margin-top : var(--content-gap);
                display    : flex;
                gap        : 1rem;
                flex-wrap  : wrap;

                .welcome-link {

                    font             : var(--font-button);
                    background-color : var(--color-grey-2);

                    padding-inline   : 4rem;
                    padding-block    : 2rem;
                    border-radius    : 1rem;

                    text-align       : center;
                    align-content    : center;
                    text-wrap        : nowrap;
                }

                .welcome-link:hover {
                    background-color : black;
                    color            : var(--color-grey-1);
                }

            }
        }
    }
}

.footer {
    /*background-color : black;*/
    margin-inline : auto;
    max-width     : var(--var-content-width);
    border-top    : 1px solid var(--color-grey-3);
    height        : 128px;
    /*background-color : black;*/
}

@media (max-width : 1080px) {

    .main-content-bg {

        justify-content : flex-start;

        .main-content {
            grid-template-columns : 1fr;

            justify-items         : center;

            .picture {
                --image-size : 320px;
            }

            .welcome {
                align-items : center;

                .welcome-text {
                    align-items : center;
                }

                .welcome-body {
                    text-align : center;
                }

                .welcome-links {
                    justify-content : center;
                }
            }
        }

    }
}

@media (max-width : 480px) {

    .main-content-bg {

        .main-content {

            .picture {
                --image-size : 100%;

            }

            .welcome-links {
                flex-direction : column;
                width          : 100%;
            }

            .welcome-link {
                width : 100%;
            }
        }
    }
}