body {
    background-color : rgb(244, 246, 244);
}

.main-content {
    max-width     : var(--var-content-width);
    margin-inline : auto;
    margin-bottom : var(--var-panel-margin);
}

.filter-bg {
    margin-bottom : var(--var-panel-margin);
    display       : flex;
    gap           : 8px;
    align-items   : center;
    flex-wrap     : wrap;

    .filter-button {
        --button-height  : 32px;
        --icon-size      : 10px;
        --padding        : calc((var(--button-height) - var(--icon-size)) / 2);

        height           : var(--button-height);
        border-radius    : calc(var(--button-height) / 2);
        padding-left     : var(--padding);
        padding-right    : calc(var(--padding) + 4px);

        display          : flex;
        align-items      : center;
        gap              : calc(var(--padding) - 4px);

        background-color : var(--color-grey-2);

        .filter-icon {
            height           : var(--icon-size);
            width            : var(--icon-size);
            background-color : var(--color-grey-1);
            border-radius    : 50%;
        }

        .filter-text {
            color       : var(--color-grey-4);
            font        : var(--font-button);
            text-wrap   : nowrap;
            user-select : none;
        }
    }

    .filter-button:not(.is-active):hover {
        cursor           : pointer;
        background-color : var(--color-grey-3);

        .filter-icon {
            /*background-color : var(--color-grey-4);*/
        }

        .filter-text {
            color : var(--color-grey-5);
        }
    }

    .filter-button.is-active {
        background-color : black;

        .filter-icon {
            background-color : var(--color-grey-1);
        }

        .filter-text {
            color : white;
        }
    }
}

.portfolio-grid {
    --min-item-width      : 240px;
    --min-item-height     : 320px;
    --item-padding        : 2rem;

    display               : grid;
    grid-gap              : 2rem;

    grid-template-columns : repeat(auto-fill, minmax(min(var(--min-item-width), 100%), 1fr));

    .portfolio-item {
        position                   : relative;
        background-color           : white;
        border-radius              : 1rem;
        height                     : var(--min-item-height);
        padding                    : var(--item-padding);
        display                    : grid;
        grid-template-rows         : 1fr min-content min-content;
        overflow                   : hidden;
        gap                        : var(--item-padding);

        transition-property        : transform;
        transition-duration        : 250ms;
        transition-timing-function : ease;

        /*outline                    : 1px solid transparent;*/

        .item-image {
            position   : absolute;
            inset      : 0;
            width      : 100%;
            height     : 100%;
            object-fit : cover;
            filter     : brightness(90%);
            z-index    : 0;
        }

        .item-title {
            position    : relative;
            grid-column : 1;
            grid-row    : 2;
            font        : var(--font-portfolio-item-title);
            color       : white;
        }

        .item-type {
            width            : min-content;
            background-color : rgba(0, 0, 0, 0.2);
            backdrop-filter  : blur(4px);
            color            : white;
            padding-inline   : 0.8rem;
            padding-block    : 0.4rem;
            border-radius    : 0.6rem;
            position         : relative;
            grid-column      : 1;
            grid-row         : 3;
            font             : var(--font-portfolio-item-type);
        }
    }

    .portfolio-item:hover {
        transform : scale(1.03);
        /*outline   : 1px solid var(--color-grey-2);*/
    }
}


