body {
    background-color : var(--color-grey-1);
}

.main-content-bg {
    display        : flex;
    flex-direction : column;
    /*justify-content : center;*/
    align-items    : center;
    min-height     : calc(100dvh - var(--nav-bar-height));
    margin         : auto;

    .item-title {
        margin-top : var(--var-panel-margin);
    }

    .main-content {
        /*--image-size          : 480px;*/
        --content-gap         : 4rem;

        margin-inline         : auto;
        margin-top            : var(--var-panel-margin);
        max-width             : var(--var-content-width);

        display               : grid;
        grid-template-columns : auto 1fr;

        justify-content       : center;
        gap                   : var(--content-gap);

        .item-image {
            height        : 100%;
            object-fit    : cover;
            border-radius : 1rem;
        }

        .item-text {
            display         : flex;
            flex-direction  : column;
            gap             : 4rem;

            justify-content : center;

            min-width       : 45ch;
            max-width       : 75ch;
            /*max-height: min-content;*/

            p {
                margin-top : 1rem;
            }
        }
    }
}

@media (max-width : 800px) {

    .main-content-bg {

        .main-content {
            grid-template-columns : 1fr;

            .item-text {
                min-width : 0;
            }
        }
    }
}