body {
    background-color : var(--color-grey-1);
}

.main-content-bg {
    /*display        : flex;*/
    /*flex-direction : column;*/
    /*justify-content : center;*/
    /*align-items    : center;*/

    height : calc(100dvh - var(--nav-bar-height));

    margin : auto;
}

.main-content {
    --content-gap  : 2rem;
    margin-inline  : auto;
    margin-top     : var(--var-panel-margin);
    max-width      : var(--var-content-width);
    display        : flex;
    flex-direction : column;
    gap            : var(--content-gap);
    align-items    : center;
    /*justify-content  : center;*/
    /*flex-wrap        : wrap;*/

    .item-title {

    }

    .item-image-snapshot {

        display         : grid;
        /*flex-wrap       : wrap;*/

        justify-content : center;
        gap             : var(--content-gap);

        .item-image {
            max-width     : min(400px, 100%);
            object-fit    : cover;
            border-radius : 1rem;
        }

        .item-snapshot {
            flex-shrink     : 1;
            display         : flex;
            flex-direction  : column;
            /*gap             : var(--content-gap);*/

            justify-content : space-between;

            /*max-width       : 75ch;*/
        }
    }
}