*, *::before, *::after {
    box-sizing : border-box;
}

* {
    margin              : 0;
    padding             : 0;
    font                : inherit;
    font-optical-sizing : auto;
}

html {
    font-size : 62.5%;
}

body {
    min-height : 100svh;
    font-size  : 1.6rem;
}

a {
    color           : black;
    text-decoration : none;
}

img, picture, video, canvas, svg {
    display   : block;
    max-width : 100%;
}

input, button, textarea, select {
    font : inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap : break-word;
}

p {
    font                : var(--font-body);
    font-optical-sizing : auto;
    line-height         : 1.6;
    max-width           : 75ch;
    text-wrap           : pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap : balance;
}

button {
    -webkit-tap-highlight-color : transparent;
    -webkit-appearance          : none;
    appearance                  : none;
}

button:focus, button:focus-visible {
    outline : none;
}

#root, #__next {
    isolation : isolate;
}